<div>
	<button>text</button>
	<button type="invalid">text</button>
	<button type="{{ valid }}">text</button>
	<button ng-attr-type="valid">text</button>
</div>

<!-- should detect duplicated ng-class but not duplicate class + ng-class -->
<p class="foo" ng-class="bar"></p>
<p ng-class="foo" ng-class="bar"></p>

<!-- should detect ng-bind and friends as having textual content -->
<h1></h1>
<h2 ng-bind="foo"></h2>
<h3 ng-bind-html="bar"></h3>
<h3 ng-bind-template="baz"></h3>
<h4 translate="KEY"></h4>

<h1 ng-transclude></h1>
<h1><ng-transclude></ng-transclude></h1>
<h1 ng-pluralize></h1>
<h1><ng-pluralize></ng-pluralize></h1>

<!-- should not detect errors inside {{ ... }}  -->
<div>{{ "</p>" }}</div>
<div>{{ foo && bar ? 'true' : 'false' }}</div>
